@using SFA.DAS.FindEpao.Web.Infrastructure
@using SFA.DAS.FindEpao.Web.Models
@model CourseEpaosViewModel
@{
    ViewData["Title"] = $"{Model.Total} end-point assessment organisations for {Model.Course.Description}";
    ViewData["Description"] = $"View end-point assessment organisations for {Model.Course.Description}";
    if (!Model.Epaos.Any())
    {
        ViewData["Description"] = $"There are no end-point assessment organisations for {Model.Course.Description}";
    }
    ViewData["BackRouteName"] = RouteNames.ChooseCourse;
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl ">@Model.Total end-point assessment organisations</h1>
            
            
            @if (Model.Epaos.Count() != 0)
            {
                <p class="govuk-body govuk-!-margin-bottom-6">
                    <span class="govuk-!-font-weight-bold">Showing end-point assessment organisations for </span>
                    <br> @Model.Course.Description
                </p>

                @if (Model.Course.IntegratedApprenticeship)
                {
                    <div class="das-highlight">
                        <h2 class="govuk-!-font-weight-bold govuk-body">This is an integrated apprenticeship</h2>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            The end-point assessment for an integrated apprenticeship is usually carried out by the training provider. Contact the training provider to find out more about the assessment.
                        </p>
                    </div>
                }
                <hr class="govuk-section-break govuk-section-break--visible">
                <div class="das-search-results">
                    <ol class="das-search-results__list">
                        @foreach (var epao in Model.Epaos)
                        {
                            <li class="das-search-results__list-item">
                                <h2 class="govuk-heading-m das-search-results__heading">
                                    <a class="das-search-results__link" id="epao-@epao.EpaoId"
                                       asp-route-id="@Model.Course.Id"
                                       asp-route-epaoId="@epao.EpaoId"
                                       asp-route="@RouteNames.CourseEpao">
                                        @epao.Name
                                    </a>
                                </h2>
                                <dl class="das-definition-list das-definition-list--meta das-search-results__meta govuk-list">
                                    @if (epao.EffectiveFrom.Date <= DateTime.Today)
                                    {
                                        <dt class="govuk-!-margin-bottom-1">Available to assess now</dt>
                                    }
                                    @if (epao.EffectiveFrom.Date > DateTime.Today)
                                    {
                                        <dt class="govuk-!-margin-bottom-1">Available to assess from @epao.EffectiveFrom.ToString("d MMMM yyyy")</dt>
                                    }
                                    <dt class="das-definition-list__title govuk-!-margin-bottom-1">Locations covered</dt><dd class="govuk-!-margin-bottom-1">@epao.Locations</dd>
                                    <dt class="das-definition-list__title govuk-!-margin-bottom-1">Address</dt><dd class="govuk-!-margin-bottom-1">@epao.Address</dd>
                                </dl>
                            </li>
                        }
                    </ol>

                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">


                </div>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-bottom-6">
                    <span class="govuk-!-font-weight-bold">Apprenticeship training course:</span>
                    <br> @Model.Course.Description
                </p>
                <p class="govuk-body">The Education and Skills Funding Agency (ESFA) can advise you what to do next.</p>
                <a class="govuk-button govuk-link govuk-link--no-visited-state" href="https://help.apprenticeships.education.gov.uk/hc/en-gb#contact-us">
                    Contact ESFA
                </a>
            }
            
        </div>
    </div>
</main>
