@using SFA.DAS.FindEpao.Web.Infrastructure
@using SFA.DAS.FindEpao.Web.Models
@model CourseEpaoViewModel
@{
    ViewData["Title"] = Model.Epao.Name;
    ViewData["Description"] = $"View {Model.Epao.Name}’s contact details and address.";
    
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">End-point assessment organisation</span>
            <h1 class="govuk-heading-xl ">@Model.Epao.Name</h1>

            @if (Model.CourseEpaosCount > 1)
            {
                <p class="govuk-body">
                    @Model.Epao.Name is 1 of @Model.CourseEpaosCount end-point assessment organisations for @Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level).</span>
                </p>
                <p class="govuk-body govuk-!-margin-bottom-1">
                    <a class="govuk-link govuk-link--no-visited-state"
                       asp-route-id="@Model.Course.Id"
                       asp-route="@RouteNames.CourseEpaos">View the other end-point assessment organisations</a>
                </p>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-bottom-1">
                    @Model.Epao.Name is the only end-point assessment organisation for @Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level).</span>
                </p>
            }

            <div class="das-highlight">
                <p class="govuk-body">
                    @Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level)</span><br />

                    @if (Model.EffectiveFrom.Date > DateTime.Today)
                    {
                        <span class="govuk-!-font-weight-bold">Available to assess from @Model.EffectiveFrom.ToString("d MMMM yyyy")</span>
                    }
                    else
                    {
                        <span class="govuk-!-font-weight-bold">Available to assess now</span>
                    }
                </p>
                <br />
                <p class="govuk-!-font-weight-bold das-no-wrap">Standard Version Details
                <table class="govuk-body das-no-wrap">
                    <tr><td class="govuk-summary-list__value">Version</td><td class="govuk-summary-list__value">Effective From</td><td class="govuk-summary-list__value">Effective To</td></tr>
                    @foreach (var versions in Model.apprenticeshipTrainingCourses)
                    {
                        @if (versions.larsCode.ToString() == Model.Course.Id)
                        {
                            <tr><td class="govuk-summary-list__value">@versions.version</td><td class="govuk-summary-list__value">@versions.effectiveFrom.Value.ToString("dd MMM yyyy")</td><td class="govuk-summary-list__value">@versions.effectiveTo</td></tr>
                        }
                    }
                </table>
                </p>
            </div>

            @if (Model.Course.IntegratedApprenticeship)
            {
                <div class="das-highlight">
                    <h2 class="govuk-!-font-weight-bold govuk-body">This is an integrated apprenticeship</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        The end-point assessment for an integrated apprenticeship is usually carried out by the training provider. Contact the training provider to find out more about the assessment.
                    </p>
                </div>
            }

            <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                @if (!string.IsNullOrEmpty(Model.Epao?.PrimaryContactName))
                {
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Contact name</dt>
                    <dd class="govuk-summary-list__value">@Model.Epao.PrimaryContactName</dd>
            </div>
                }
                @if (!string.IsNullOrEmpty(Model.Epao?.ContactDetails?.WebsiteLink))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Website</dt>
                        <dd class="govuk-summary-list__value">
                            <a class="govuk-link" href="@Model.Epao.ContactDetails.WebsiteLink" target="_blank" rel="noreferrer noopener" >@Model.Epao.ContactDetails.WebsiteLink</a>
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Epao?.ContactDetails?.Email))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email</dt>
                        <dd class="govuk-summary-list__value">
                            <a class="govuk-link" href="mailto:@Model.Epao.ContactDetails.Email">@Model.Epao.ContactDetails.Email</a>
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Epao?.ContactDetails?.PhoneNumber))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Telephone</dt>
                        <dd class="govuk-summary-list__value">@Model.Epao.ContactDetails.PhoneNumber</dd>
                    </div>
                }
                @if (Model.Epao?.ContactDetails?.HasAddress() ?? false)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">
                            @if (!string.IsNullOrEmpty(Model.Epao.ContactDetails.Address1))
                            {
                                @Model.Epao.ContactDetails.Address1 <br/>
                            }
                            @if (!string.IsNullOrEmpty(Model.Epao.ContactDetails.Address2))
                            {
                                @Model.Epao.ContactDetails.Address2 <br/>
                            }
                            @if (!string.IsNullOrEmpty(Model.Epao.ContactDetails.Address3))
                            {
                                @Model.Epao.ContactDetails.Address3 <br/>
                            }
                            @if (!string.IsNullOrEmpty(Model.Epao.ContactDetails.Address4))
                            {
                                @Model.Epao.ContactDetails.Address4 <br/>
                            }
                            @if (!string.IsNullOrEmpty(Model.Epao.ContactDetails.Postcode))
                            {
                                @Model.Epao.ContactDetails.Postcode
                            }
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Epao.Locations))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Locations covered</dt>
                        <dd class="govuk-summary-list__value">@Model.Epao.Locations</dd>
                    </div>
                }
                
                <br />
                <div class="govuk-summary-list__row">
                    
                    <p class="govuk-!-font-weight-bold das-no-wrap">Apprenticeship training courses<br />

                        <table class="govuk-body das-no-wrap">
                            <tr><td class="govuk-summary-list__value">Standard</td><td class="govuk-summary-list__value">Version(s)</td></tr>
                            @foreach (var versions in Model.allVersions)
                            {
                                <tr><td class="govuk-summary-list__value">@versions.standardName</td><td class="govuk-summary-list__value">@versions.version</td></tr>
                            }
                        </table>


                    </p>
</div>
                
            </dl>
        </div>
    </div>
</main>
